[submodule ".local/share/antigen"]
	path = .local/share/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".local/share/awesome-terminal-fonts"]
	path = .local/share/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule ".local/share/fzf"]
	path = .local/share/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/share/tpm"]
	path = .local/share/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".local/share/bashtop"]
	path = .local/share/bashtop
	url = https://github.com/aristocratos/bashtop.git
