[submodule ".local/share/antigen"]
	path = .local/share/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".local/share/awesome-terminal-fonts"]
	path = .local/share/awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule ".local/share/fzf"]
	path = .local/share/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/share/tpm"]
	path = .local/share/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".local/share/bashtop"]
	path = .local/share/bashtop
	url = https://github.com/aristocratos/bashtop.git
[submodule ".local/share/i3lock-color"]
	path = .local/share/i3lock-color
	url = https://github.com/Raymo111/i3lock-color.git
[submodule ".local/share/polybar-scripts"]
	path = .local/share/polybar-scripts
	url = https://github.com/polybar/polybar-scripts.git
[submodule ".local/share/multilockscreen"]
	path = .local/share/multilockscreen
	url = https://github.com/jeffmhubbard/multilockscreen
[submodule ".local/share/unclutter-xfixes"]
	path = .local/share/unclutter-xfixes
	url = https://github.com/Airblader/unclutter-xfixes.git
[submodule ".local/share/weather-icons"]
	path = .local/share/weather-icons
	url = https://github.com/erikflowers/weather-icons.git
